################VLLM PARAMS###################
VLLM_URL_FOR_ANALYSIS = "http://localhost:8001/v1/chat/completions"   
VLLM_URL_FOR_SUMMARY = "http://localhost:8003/v1/chat/completions"
VLLM_URL_FOR_IMAGE = "http://localhost:8002/v1/chat/completions"
VLLM_URL_FOR_SCORING = "http://localhost:8001/v1/chat/completions"
VLLM_URL_FOR_EXTRACTION = "http://localhost:8001/v1/chat/completions"

VLLM_MODEL_FOR_ANALYSIS = "neuralmagic/Meta-Llama-3.1-70B-Instruct-quantized.w4a16"              
VLLM_MODEL_FOR_EXTRACTION = "neuralmagic/Meta-Llama-3.1-70B-Instruct-quantized.w4a16"             
VLLM_MODEL_FOR_SUMMARY = "Qwen/Qwen2.5-7B-Instruct-AWQ"           
VLLM_MODEL_FOR_IMAGE = "Qwen/Qwen2-VL-2B-Instruct-AWQ"         
VLLM_MODEL_FOR_SCORING = "neuralmagic/Meta-Llama-3.1-70B-Instruct-quantized.w4a16"           


#############OLLAMA PARAMS###################
OLLAMA_URL = "http://localhost:11434"
OLLAMA_MODEL_FOR_ANALYSIS = "llama3.2"            
OLLAMA_MODEL_FOR_EXTRACTION = "llama3.2"            
OLLAMA_MODEL_FOR_SUMMARY = "qllama3.2"            
OLLAMA_MODEL_FOR_IMAGE = "llava"
OLLAMA_MODEL_FOR_SCORING = "llama3.2"  

#############SQL PARAMS###################
SQLALCHEMY_DATABASE_URL="SQL_ALCHEMY_URL Based on your MySQL username and password"        

