BELOW IS FOR DOCKER VERSION -

# OLLAMA_URL = "http://host.docker.internal:11434"   # make this an env variable
# OLLAMA_MODEL = "llama3.1"               # make this an env variable
# VERBA_URL = "http://host.docker.internal:8000"     # make this an env variable
# DB_TYPE = "Docker"
# WEAVIATE_URL="" # This needs to be an empty string, or needs to be the url in case of cloud weaviate instance
# WEAVIATE_KEY="" # This needs to be an empty string, or needs to be the key in case of cloud weaviate instance



BELOW IS FOR LOCAL VERSION -

OLLAMA_URL = "http://localhost:11434"   # make this an env variable
OLLAMA_MODEL = "llama3.1"               # make this an env variable
VERBA_URL = "http://localhost:8000"     # make this an env variable
DB_TYPE = "Local"
WEAVIATE_URL="" # This needs to be an empty string, or needs to be the url in case of cloud weaviate instance
WEAVIATE_KEY="" # This needs to be an empty string, or needs to be the key in case of cloud weaviate instance