
.sidebar {
    position: fixed;
    top: 0;
    width: 340px;
    height: 100%;
    background: linear-gradient(145deg, #4a4a4a, #2e2e2e);

    
    color: white;
    padding-top: 60px;
    transition: transform 0.3s ease; /* Transition for smooth sliding */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100; /* Keep above other elements */
    
    transform: translateX(-100%); /* Initially hidden */
}

/* Class for active state */
.sidebar.active {
    transform: translateX(-10%); /* Slide into view */
}
.sidebar.inactive {
   display: none; /* Slide into view */
}


.sidebar-menu {
    list-style-type: none;
    padding-top: 0;  
    margin-top: 0;   
    padding: 0;
    
    
}

.sidebar-menu li {
    padding: 0; /* Reset padding to avoid shift on hover */
    border-top: 1px solid #ababab; /* Top border for all items */
}

.sidebar-menu li:first-child {
    border-top: none; /* Remove top border from the first item */
}

.sidebar-menu li:last-child {
    border-bottom: 1px solid #ababab; /* Bottom border for the last item */
}

.sidebar-menu li a {
    color: #eee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-size: 20px;
    display: flex; /* To align icon and text */
    align-items: center; /* Center icon and text vertically */
    padding: 15px 20px; /* Consistent padding */
    transition: background-color 0.3s;
}

.sidebar-menu li a i {
    margin-right: 10px; /* Space between icon and text */
}

.sidebar-menu li a:hover {
    background: linear-gradient(145deg, #2b2b2b, #1a1a1a);


    border-radius: 4px;
    color: white; /* Keep the text color white */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white; /* Text color */
    background: none; /* Remove background */
    border: none; /* Remove border */
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
    padding: 10px 15px;
    display: flex; /* Ensure button content is centered */
    align-items: center;
    justify-content: center;
}

.close-btn:hover {
    color: #15bdfa; 
    transform: scale(1.1); 
}

.open-btn {
    font-size: 1.625rem; /* 26px -> rem */
    cursor: pointer;
    background: #F4BC1C; 
    color: #ffffff; 
    border: 0.0625rem solid #F4BC1C; /* 1px -> rem */
    left: 4rem; 
    padding: 0.625rem 0.9375rem; /* 10px 15px -> rem */
    border-radius: 0.5rem; /* 8px -> rem */
    box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* 0px 4px 6px -> rem */
    transition: 0.3s;
    z-index: 10; 
    height: 2.1875rem; /* 35px -> rem */
    width: 1.875rem; /* 30px -> rem */
    display: flex;
    align-items: center;
    justify-content: center;
   
    align-self: center;
  }
  
  .open-btn:hover {
    background: #8a8a8a;
    color: #2f3030;
    border: none;
    box-shadow: 0rem 0.375rem 0.5rem rgba(0, 0, 0, 0.15); /* 0px 6px 8px -> rem */
  }



.logout-button {
    cursor: pointer;
    background-color: #F4BC1C; 
    color: white;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
   
    border-radius: 4px; 
    transition: 0.3s; 
    height: 50px;
    width: 120px;
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center content horizontally */
    font-size: 18px; /* Set larger font size for text */
}

.logout-button .glyphicon-log-out {
    font-size: 18px; /* Set icon size */
    margin-right: 8px; /* Add space between icon and text */
   
}

.logout-button:hover {
    background: grey
}


.logout-container {
    display: flex;         
    justify-content: center; 
    align-items: center;
    
    margin-bottom: 2vh; /* Optional: add some space from the bottom */
}




#main-content {
    margin-left: 20px; 
    padding: 20px;
    transition: margin-left 0.3s;
}

.shifted {
    margin-left: 270px; /* Shift content when sidebar is visible */
}

.profile-container {
    text-align: center;
   margin-bottom: 60px;

}

.profile-img {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff; /* Optional: white border for profile image */
}

.profile-text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    
}

.card-icon-sidebar {
    font-size: 1.3rem;
    color: #F4BC1C;
    margin-right: 12px;
  }