HF_TOKEN=<your hf token>
>
OLLAMA_URL = "http://ollama:11434"
OLLAMA_MODEL_FOR_ANALYSIS = "llama3.2:3b-instruct-q2_K"            
OLLAMA_MODEL_FOR_EXTRACTION = "llama3.2:3b-instruct-q2_K"            
OLLAMA_MODEL_FOR_SUMMARY = "llama3.2:3b-instruct-q2_K"            
OLLAMA_MODEL_FOR_IMAGE = "llava-phi3"
OLLAMA_MODEL_FOR_SCORING = "llama3.2:3b-instruct-q2_K"

REACT_APP_API_URL=http://localhost:8007

# KAFKA PARAMS
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=dissertation_analysis_queue
MAX_CONCURRENT_USERS=2

# REDIS PARAMS
REDIS_URL=redis://redis:6379


SQLALCHEMY_DATABASE_URL="mysql+pymysql://root:Spanda%40123@mysql:3306/feedbackDb"
