HF_TOKEN=<your hf token>>


#############OLLAMA PARAMS###################
OLLAMA_URL = "http://ollama:11434"
OLLAMA_MODEL_FOR_ANALYSIS = "qwen2.5:7b"           
OLLAMA_MODEL_FOR_EXTRACTION = "qwen2.5:7b"          
OLLAMA_MODEL_FOR_SUMMARY = "qwen2.5:7b"           
OLLAMA_MODEL_FOR_IMAGE = "llava-phi3"
OLLAMA_MODEL_FOR_SCORING = "qwen2.5:7b"


REACT_APP_API_URL=http://localhost:8007

# KAFKA PARAMS
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=dissertation_analysis_queue
MAX_CONCURRENT_USERS=2

# REDIS PARAMS
REDIS_URL=redis://redis:6379


SQLALCHEMY_DATABASE_URL="mysql+pymysql://root:Spanda%40123@mysql:3306/feedbackDb"
