    # Hugging Face Token
    HF_TOKEN=<your hf token here>

    # # VLLM Services
    # VLLM_URL_FOR_ANALYSIS=http://vllmnemotrontext:8001/v1/chat/completions
    # VLLM_URL_FOR_SUMMARY=http://vllmnemotrontext:8001/v1/chat/completions
    # VLLM_URL_FOR_IMAGE=http://vllmqwenvision:8002/v1/chat/completions
    # VLLM_URL_FOR_SCORING=http://vllmnemotrontext:8001/v1/chat/completions
    # VLLM_URL_FOR_EXTRACTION=http://vllmnemotrontext:8001/v1/chat/completions

    # # VLLM Models
    # VLLM_MODEL_FOR_ANALYSIS=AMead10/Llama-3.2-3B-Instruct-AWQ
    # VLLM_MODEL_FOR_EXTRACTION=AMead10/Llama-3.2-3B-Instruct-AWQ
    # VLLM_MODEL_FOR_SUMMARY=AMead10/Llama-3.2-3B-Instruct-AWQ
    # VLLM_MODEL_FOR_IMAGE=Qwen/Qwen2-VL-2B-Instruct-AWQ
    # VLLM_MODEL_FOR_SCORING=AMead10/Llama-3.2-3B-Instruct-AWQ

    #############OLLAMA PARAMS###################
    OLLAMA_URL =http://ollama:11434
    OLLAMA_MODEL_FOR_ANALYSIS=qwen2.5:7b
    OLLAMA_MODEL_FOR_EXTRACTION=qwen2.5:7b
    OLLAMA_MODEL_FOR_SUMMARY=qwen2.5:7b
    OLLAMA_MODEL_FOR_IMAGE=llava-phi3
    OLLAMA_MODEL_FOR_SCORING=qwen2.5:7b

    # React App Configuration
    REACT_APP_API_URL=http://localhost:8007

    # Kafka Configuration
    KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    KAFKA_TOPIC=dissertation_analysis_queue
    MAX_CONCURRENT_USERS=2

    # Redis Configuration
    REDIS_URL=redis://redis:6379

    # Database Configuration
    SQLALCHEMY_DATABASE_URL="mysql+pymysql://root:Spanda%40123@mysql:3306/feedbackDb"
